{% load staticfiles %}
<!DOCTYPE html>
{% load static %} 

<html lang="en">
  <head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/netemapp/css/bootstrap.css" rel="stylesheet">
    <link href="/static/netemapp/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/netemapp/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/netemapp/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/netemapp/css/bootstrap-fluid-adj.css" rel="stylesheet">
    <script src="static/netemapp/js/bootstrapjs"></script>
    <script src="static/netemapp/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    </head>
  
<body>
<div id="trys">
<form id="addform" class="form-horizontal">
{% csrf_token %}
    <div class="control-group">
    <label class="control-label" for="inputpcname">PC Name:</label>
    <div class="controls">
        <input type="text" name="pcname1" id="pcname1" style="height:30px;" value="{{host.hostname}}"><br>
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputpcpass">Password:</label>
    <div class="controls">
        <input type="password" id="pcpass1" name="pcpass1" placeholder="Password" style="height:30px;" value="{{host.hostpass}}">
<br>
    </div>
    </div>
   
<div class="control-group">
    <label class="control-label" for="inputInterface">Interface:</label>
    <div class="controls">
        <select class="selectpicker" name="interface1" id="interface1"  style="height:30px;">
        
            <option value='eth0'>eth0</option>
        
            <option value='wlan0'>wlan0</option>
        
        </select>
</div>
    </div>


<input type="hidden" name="id1" id="id1" value="{{pid}}">
<input type="button" class="btn btn-primary" value="Update" onclick="return updatecheck()">
</br>
</form>
</div>
</body>
